{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}

{% include 'slider.html' %}

<section class="features-section spad">
    <div class="features-ads">
       
    </div>
  
    <!-- Features Box -->
    <div class="features-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-box-item first-box">
                                <img src="{% static 'img/f-box-1.jpg' %}" alt="">

                                <div class="box-text">
                                    <span class="trend-year">2025 Party</span>
                                    <h2>Jewelry</h2>
                                    <span class="trend-alert">Trend Alert</span>
                                    <a href="#" class="primary-btn">See More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="single-box-item second-box">
                               <img src="{% static 'img/f-box-2.jpg' %}" alt="">

                                <div class="box-text">
                                    <span class="trend-year">2025 Trend</span>
                                    <h2>Footwear</h2>
                                    <span class="trend-alert">Bold & Black</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-box-item large-box">
                       <img src="{% static 'img/f-box-3.jpg' %}" alt="">

                        <div class="box-text">
                            <span class="trend-year">2025 Party</span>
                            <h2>Collection</h2>
                            <div class="trend-alert">Trend Alert</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Latest Product Begin -->
<section class="latest-products spad mt-3">
    <div class="container">
        <div class="product-filter">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Featured Category</h2>
                    </div>
                    <ul class="product-controls">
                        <li data-filter="*">All</li>
                        {% for Category in categories %}
                        <li data-filter=".{{Category.slug}}">{{Category.tittle|title}}</li>
                        {% endfor %}
                    {% include 'pagination.html' %}
                    </ul>
            
                </div>
            </div>
        </div>

        <div class="row" id="product-list">
           {% for Category in categories %}
           {% for product in Category.products.all %}

            <div class="col-lg-3 col-sm-6 mix {{Category.slug}}">
                <div class="single-product-item">
                    <figure>
                        <a href="{% url 'product-details' product.slug %}"><img style="height:300px" src="{{product.thumbnail}}" alt=""></a>
                        <div style="background-color:black" class="p-status sale popular   new">{{Category.tittle|title}}</div>
                    </figure>
                    <div class="product-text">
                        <a class="text-decoration-none"  href="{% url 'product-details' product.slug %}">
                        <h6>{{product.tittle|truncatewords:8}}</h6>
                        </a>
                        <p>${{product.price}}</p>
                    </div>
                </div>
            </div>
            
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="latest-products spad mt-3">
    <div class="container">
        <div class="product-filter">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>popular Products</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="product-list">
         
           {% for product in featured_products %}
            <div class="col-lg-3 col-sm-6 mix ">
                <div class="single-product-item">
                    <figure>
                        <a href="{% url 'product-details' product.slug %}"><img style="height:300px" src="{{product.thumbnail}}" alt=""></a>
                        <div style="background-color:black" class="p-status sale popular   new">{{product.Catagory.tittle|title}}</div>
                    </figure>
                    <div class="product-text">
                        <a class="text-decoration-none"  href="{% url 'product-details' product.slug %}">
                        <h6>{{product.tittle|truncatewords:8}}</h6>
                        </a>
                        <p>${{product.price}}</p>
                    </div>
                </div>
            </div>
         
            {% endfor %}
        </div>
    </div>
</section>
<!-- Latest Product End -->

<!-- Lookbook Section Begin -->
<section class="lookbok-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 offset-lg-1">
                <div class="lookbok-left">
                    <div class="section-title">
                        <h2>2025 <br />#lookbook</h2>
                    </div>
                    <p>Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit...</p>
                    <a href="#" class="primary-btn look-btn">See More</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="lookbok-pic">
                    <img src="{% static 'img/lookbok.jpg' %}" alt="">
                    <div class="pic-text">fashion</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Lookbook Section End -->

<!-- Logo Section Begin -->
<div class="logo-section spad">
    <div class="logo-items owl-carousel">
       
        <div class="logo-item">
            <img src="img/logos/logo-3.png" alt="">
        </div>
       
    </div>
</div>
 <div class="container">
            <div class="row">
                 <div class="col-lg-4">
                    <div class="single-features-ads first">
                        <img src="{% static 'img/icons/f-delivery.png' %}" alt="">

                        <h4>Free shipping</h4>
                        <p>Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit...</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-features-ads second">
                        <img src="{% static 'img/icons/coin.png' %}" alt="">

                        <h4>100% Money back</h4>
                        <p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit...</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-features-ads">
                        <img src="{% static 'img/icons/chat.png' %}" alt="">

                        <h4>Online support 24/7</h4>
                        <p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit...</p>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}
